/* CSS RESET */

.head{
    height: 18vh;
    width: 100%;
    background-color: #003b64;
    background-image: linear-gradient(315deg, #003b64 0%, #fff200 74%);
    position: absolute;
    top: 56px;
    left: 1px;
}

.head h1{
    font-size: 67px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 162px;
    top: 10px;
    color: rgb(8 46 11 / 73%);
 }

.bg{
    height: 700vh;
    width: 100%;
    background-color: #fdf86d;
    background-image: linear-gradient(315deg, #fdf86d 0%, #bddcf1 74%);
    position: absolute;
    top: 158px;
    left: 1px;
}

/* Data section  */

.first img {
    position: absolute;
    top: -25px;
    right: 16px;
    height: 461px;
    margin: -11px;
    padding: 36px 0px;
 }
 
 .first p strong {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 0px;
    left: 26px;
    font-size: 47px;
    font-style: italic;
    color: #67725a;
}

.second img {
    position: absolute;
    top: 33rem;
    right: 4rem;
    height: 82vh;
    width: 53%;
    margin: -12px;
    padding: 26px 0px;
 }

 .third img {
    position: absolute;
    top: 64rem;
    right: 36rem;
    height: 84vh;
    width: 55%;
    margin: -12px;
    padding: 26px 0px;
 }
 
 .fourth img {
    position: absolute;
    top: 96rem;
    right: 8rem;
    height: 87vh;
    width: 67%;
    margin: -12px;
    padding: 26px 0px;
 }

 .fifth img {
    position: absolute;
    top: 129rem;
    right: 33rem;
    height: 87vh;
    width: 59%;
    margin: -12px;
    padding: 26px 0px;
 }
 
 .six img {
    position: absolute;
    top: 163rem;
    right: 8rem;
    height: 86vh;
    width: 67%;
    margin: -12px;
    padding: 26px 0px;
 }

 .seven img {
    position: absolute;
    top: 194rem;
    right: 47rem;
    height: 76vh;
    width: 46%;
    margin: -12px;
    padding: 26px 0px;
 }

 .eight img {
    position: absolute;
    top: 202rem;
    right: 3rem;
    height: 71vh;
    width: 37%;
    margin: -12px;
    padding: 26px 0px;
 }
 
 .nine img {
    position: absolute;
    top: 232rem;
    right: 40rem;
    height: 71vh;
    width: 37%;
    margin: -12px;
    padding: 26px 0px;
 }

 